parameters:
  level: 9
  paths:
    - src
    - tests
  ignoreErrors:
    - '#^Class Rougin\\Blueprint\\Application implements generic interface ArrayAccess but does not specify its types\: TKey, TValue$#'